@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue:#341950;
  --gray:#2b2a29;
  --mauve:#e0b0ff;
}

.bai-jamjuree {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.red-hat {
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* @media screen and (max-width:1024) {
  #mobile-menu{
    flex-direction: column;
    position: fixed;
    left: -100%;
    width: 100%;
    top: 0;
    height: 100%;
    overflow: scroll;
    padding: 2rem;
    z-index: 1;
    background-color: var(--mauve);
  }
  
} */

